<div class="row">
 <div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card card-stats">
       <div class="card-body ">
        <div class="row">
         
          <div class="col-7 col-md-8" style="width: 100%; margin-left: 65px;">
           <div class="numbers">
               <p class="card-category" style="font-weight: bold; color:red">Tổng thành viên tham gia</p>
               <p class="card-title" style="margin-left: 75px;">{{totaluser}} </p>
               <p></p>
            </div>
          </div>
         </div>
        </div>
    <div class="card-footer ">
       <hr>
       <div class="stats">
        <i class="fa fa-refresh"></i> Update Now 
       </div>
    </div>
  </div>
 </div>
 
 <div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card card-stats">
   <div class="card-body ">
    <div class="row">
     <div class="col-7 col-md-8" style="width: 100%; margin-left: 70px;">
      <div class="numbers">
          <p class="card-category" style="font-weight: bold;color:red">Tổng đơn vị tham gia</p>
          <p class="card-title" style="margin-left: 75px;">{{totalangency}} </p>
          <p></p>
     </div>
    </div>
</div>
</div>
<div class="card-footer ">
  <hr>
  <div class="stats">
    <i class="fa fa-calendar-o"></i> Last day 
  </div>
  </div>
  </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
        <div class="card-body ">
        <div class="row">
   
<div class="col-7 col-md-8" style="width: 100%; margin-left: 120px;" >
    <div class="numbers">
        <p class="card-category" style="font-weight: bold;color:red">Top 1 user</p>
        <p class="card-title" *ngFor="let item of usertop" style="margin-left: -10px;">{{item.name}}</p>
        <p></p>
    </div>
 </div>
</div>
</div>
<div class="card-footer ">
    <hr>
    <div class="stats">
       <i class="fa fa-clock-o"></i> In the last hour 
    </div>
  </div>
 </div>
</div>

<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-body ">
      <div class="row">
       
    <div class="col-7 col-md-8" style="width: 100%; margin-left: 100px;">
<div class="numbers">
    <p class="card-category" style="font-weight: bold;color:red">Top 1 Agency</p>
    <p class="card-title" *ngFor="let item of agencytop" style="margin-left: 10px;">{{item.name}} </p>
    <p></p>
  </div>
 </div>
</div>
</div>
<div class="card-footer ">
    <hr>
<div class="stats">
    <i class="fa fa-refresh"></i> Update now 
</div>
</div>
</div>
</div>
</div>