
<a [routerLink]="['/category-add']" routerLinkActive="router-link-active" >
    Thêm mới
</a>
<hr>
<table>
    <thead>
        <th>Mã danh mục</th>
        <th>Tên danh mục</th>
        <th>Chức năng</th>
    </thead>
    <tbody *ngIf="total == 0">
        <tr>
            <td colspan="3">
                Không có dữ liệu
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="total > 0">
        <tr *ngFor="let item of categories">
            <td>
                {{item.id}}
            </td>
            <td>
                {{item.categoryName}}
            </td>
            <td>
                <a [routerLink]="['/category-edit/' + item.id]" routerLinkActive="router-link-active" >
                    Chỉnh sửa
                </a>
                <a (click)="remove(item.id)" href="javascript:;">
                    Xóa
                </a>
            </td>
        </tr>
    </tbody>
</table>