<a [routerLink]="['/category']" routerLinkActive="router-link-active">
    Về lại danh sách
</a>

<form [formGroup]="model.formGroup" (ngSubmit)="submitData()">
    <div class="form-group">
        <label>Tên danh mục</label>
        <input type="text" [(ngModel)]="model.categoryName"  formControlName="categoryName"/>
        <p class="text-muted" [hidden]="!(model.formGroup.controls['categoryName'].hasError('required'))">
            Vui lòng nhập tên danh mục
        </p>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!(model.formGroup.valid)">
        Lưu
    </button>
</form>