
<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-primary mt-2 mb-2" [routerLink]="['/category-add']" routerLinkActive="router-link-active" >
                Thêm mới
            </a>
            <hr>
            <table class="table table-striped">
                <thead class="thead-light">
                    <th>Mã danh mục</th>
                    <th>Tên danh mục</th>
                    <th>Chức năng</th>
                </thead>
                <tbody *ngIf="total == 0">
                    <tr>
                        <td colspan="3">
                            Không có dữ liệu
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="total > 0">
                    <tr *ngFor="let item of categories">
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.categoryName}}
                        </td>
                        <td>
                            {{item.categoryName}}
                        </td>
                        <td>
                            {{item.categoryName}}
                        </td>
                        <td class="text-center">
                            <a class="mr-2" [routerLink]="['/category-edit/' + item.id]" routerLinkActive="router-link-active" >
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a (click)="remove(item.id)" href="javascript:;">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
